@model FSD_P2_T02_Group2.Models.User
@using Microsoft.AspNetCore.Http;
@using Google.Cloud.Firestore;
@using System.Web;

@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/account.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <style>
        .preview--rounded {
            width: 160px;
            height: 160px;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
    <div class="page-content" style="background: url(../images/Login.png);background-repeat:no-repeat; background-size:cover">
        <div class="form-content container">
            <div class="col">
                <form method="post">
                    <br />
                    <h2>Account</h2>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            @if (Model.Image == null)
                            {
                                <img src="~/images/default_dp.jpg" class="preview preview--rounded" />
                            }
                            else
                            {
                                <img class="preview preview--rounded" src="@Model.Image.ToString()" />
                            }
                        </div>
                        <div class="col-md-6">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PhoneNo)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PhoneNo)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Status)
                            </dd>
                        </div>
                        <div class="col-md-2">
                            @Html.ActionLink("View Profile", "ViewAccDetails", new { /* id = Model.PrimaryKey */ })
                        </div>
                    </div>
                    <br />
                    <br />
                </form>
            </div>
        </div>

        <br />
        <br />
        <br />

        <div id="posts" class="container">
            <h3 style="text-align-last:center">My Posts</h3>
            @if (Model.PostList != null)
            {
                @foreach (PostViewModel p in Model.PostList)
                {
                    <div class="col">
                        <div class="widget-post2" aria-labelledby="post-header-title">
                            <div id="widget-form" class="widget-post__form">
                                <div class="widget-post__content2">
                                    <br />
                                    <p>@p.post.Description</p>
                                    @if (p.post.hasMedia is true)
                                    {
                                        <img src="@p.Image.ToString()" id="postsImages"
                                             style="width: 100%;margin-left: auto; margin-right: auto;display: block;" />
                                    }
                                    <br />
                                </div>
                                <div class="widget-post__options2 is--hidden" id="stock-options">
                                </div>
                                <div class="widget-post__actions2 post--actions2">
                                    <div class="post-actions__attachments">
                                        @if (p.post.Likes != null)
                                        {
                                            <p>@p.post.Likes.Length Likes</p>
                                        }
                                        else
                                        {
                                            <p>0 Likes</p>
                                        }
                                    </div>
                                    <div class="post-actions__attachments">
                                        @if (p.post.Tag != null)
                                        {
                                            <i class="fa fa-tag">&nbsp;@p.post.Tag</i>
                                        }
                                    </div>
                                    <p>@p.post.TimeCreated</p>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                }
            }
            else
            {
                <p>No posts to show !</p>
            }
        </div>
    </div>
</body>
</html>
