@model FSD_P2_T02_Group2.Models.User

@{
    ViewData["Title"] = "UserMain";
    Layout = "_UserLayout";
}

<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
    <title>User Main Page</title>
    <link href="~/css/usermain.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
</head>

<body>
    <div class="page-content" style="background: url(../images/usermain.png);background-repeat:no-repeat; background-size:cover">
        <div class="col" id="subTitle">Check Out The Latest News</div>
        <div class="form-content">
            <div class="container">
                <br />
                <div class="row">
                    <div class="col-4">
                        <p>Joey Aw Feed's</p>
                    </div>
                    <div class="col-7">
                        <p>8/12/20 10.24 AM</p>
                        <p>Asian Stocks Trend Down on Pandemic Pressure, U.S.-China Tensions</p>
                        <div class="form-row-last">
                            <input type="submit" value="Read More" class="submit" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p>Bloomberg</p>
                    </div>
                    <div class="col-7">
                        <p>8/12/20 10.24 AM</p>
                        <p>Outages at Interactive Brokers, Robinhood Leave Stock Traders Furious</p>
                        <div class="form-row-last">
                            <input type="submit" value="Read More" class="submit" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p>ZACKS</p>
                    </div>
                    <div class="col-7">
                        <p>8/12/20 10.24 AM</p>
                        <p>Nike (NKE) Gains As Market Dips: What You Should Know</p>
                        <div class="form-row-last">
                            <input type="submit" value="Read More" class="submit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



































=======
<h1>UserMain</h1>
<partial name="~/Views/User/_JoinChat.cshtml" />
>>>>>>> 4e5d190eeae29746ab9e39d45cbcb35d3fe5ae82
@*<div>
        <h4>User</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.UserID)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.UserID)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNo)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PhoneNo)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>*@
