@model IEnumerable<FSD_P2_T02_Group2.Models.PendingCounsellorSession>
<br />
<br />
<br />
<br />
<br />

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .container {
        display: block;
        width: 20%;
        height: 83.5vh;
        margin-left: -20px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
</style>
<div class="container" style="background-color:#0F89AE;padding-top:40px" onclick="ToggleNavMenu">
    <h1 style="color:white;padding-left:32px">Queue</h1>
    <h2 style="color:white;padding-left:32px">User ID</h2>

    <ul class="nav flex-column">
        @if (ViewBag.pcSessionList != null)
        {
            @foreach (PendingCounsellorSession item in ViewBag.pcSessionList)
            {
                <li class="nav-item px-3">
                    <a type="button" id="modal" class="nav-link" style="color:white;" asp-route-sessionID="@item.SessionID" asp-controller="Counsellor" asp-action="ViewFormDetails">@item.UserID</a>
                </li>

            }
        }
    </ul>
</div>

    @*<table id="viewPendingCounsellorSessions" class="table table-striped table-bordered">
            <thead class="thead-dark">
                @if (ViewBag.pcSessionList != null)
                {
                    <tr>
                        <th>User ID</th>
                        <th>Session ID</th>
                        <th>Feeling</th>
                        <th>Thought</th>
                        <th>Problems</th>
                        <th>Date Created</th>
                    </tr>
                }
            </thead>
            <tbody>
                @if (ViewBag.pcSessionList == null)
                {
                    <div style="text-align: center;">
                        <img src="~/images/Empty.png" />
                    </div>
                }
                else
                {
                    @foreach (PendingCounsellorSession item in ViewBag.pcSessionList)
                    {
                        <tr>
                            <td>@item.UserID</td>
                            <td>@item.SessionID</td>
                            <td>@item.Feeling</td>
                            <td>@item.Thought</td>
                            <td>@item.Problems</td>
                            <td>@item.DateCreated</td>
                        </tr>

                    }
                }
            </tbody>
        </table>*@

