@model IEnumerable<FSD_P2_T02_Group2.Models.PendingCounsellorSession>
<br />
<br />
<br />
<br />
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<div class="wrap-contact100">
    <div class="table-responsive">
        <table id="viewPendingCounsellorSessions" class="table table-striped table-bordered">
            <thead class="thead-dark">
                @if (ViewBag.pcSessionList != null)
                {
                    <tr>
                        <th>User ID</th>
                        <th>Session ID</th>
                        <th>Thought</th>
                        <th>Problems</th>
                        <th>Date Created</th>
                    </tr>
                }
            </thead>
            <tbody>
                @if (ViewBag.pcSessionList == null)
                {
                    <div style="text-align: center;">
                        <img src="~/images/Empty.png" />
                    </div>
                }
                else
                {
                    @foreach (PendingCounsellorSession item in ViewBag.pcSessionList)
                    {
                        <tr>
                            <td>@item.UserID</td>
                            <td>@item.Feeling</td>
                            <td>@item.Thought</td>
                            <td>@item.Problems</td>
                            <td>@item.DateCreated</td>
                        </tr>

                    }
                }
            </tbody>
        </table>

    </div>
</div>